{% extends "base.html" %}


{% block content %}
    <h3>{{ model_class.__name__ }}</h3>
    <p>{{ model_class.__doc__ }}</p>
    <table>
        <thead>
            <tr>{% for column in table.columns %}
                <th>{{ column }}</th>
            {% endfor %}</tr>
        </thead>
        <tbody>{% for obj in objects %}
            <tr>{% for column in table.columns %}
                <td>{{ column(obj) }}</td>{% endfor %}
            </tr>{% endfor %}
        </tbody>
    </table>
{% endblock %}
