{% extends "base.html" %}


{% from "macro.html" import render_form %}


{% macro render_start_end(start, end) %}
    {% if start and end %}
    <p>Between flight datetime <span class="nowrap">{{ start.strftime(config.JUMPSEAT_REQUEST_DATETIME_FORMAT) }}</span> and <span class="nowrap">{{ end.strftime(config.JUMPSEAT_REQUEST_DATETIME_FORMAT) }}</span></p>
    {% endif %}
{% endmacro %}


{% block content %}
    <form method="GET">
        {{ render_form(form) }}
    </form>
    <a role="button" class="secondary" href="{{ url_for(request.endpoint) }}">Clear form</a>
    {% if not approved_list %}
        <p>No approved request for date range</p>
        {{ render_start_end(start, end) }}
    {% else %}
        <h3>Approved Jumpseat Requests</h3>
        {{ render_start_end(start, end) }}
        <p>{{ approved_list|length }} results</p>
        <table class="striped">
            <thead>
                <tr>{% for column in table.columns %}
                    {% set header = column.header or column.attrname %}
                    <th{% if column.th_attrs %} {% for key, value in column.th_attrs|items %}{{ key }}="{{ value }}"{% endfor %}{% endif %}>{{ header }}</th>
                {% endfor %}</tr>
            </thead>
            <tbody>
                {% for request in approved_list %}
                <tr>{% for column in table.columns %}
                    <td>{{ column(request) }}</td>
                {% endfor %}</tr>
                {% endfor %}
                {#
                    <td class="nowrap">{{ request.reason }}</td>
                    <td class="nowrap">{{ request.flight_number }}</td>
                    <td class="nowrap">{{ request.scheduled_departure_airport }}</td>
                    <td class="nowrap">{{ request.scheduled_arrival_airport }}</td>
                    <td class="nowrap">{{ request.employee_number }}</td>
                    <td class="nowrap">{{ request.employee_name }}</td>
                    <td class="nowrap"></td>
                    <td class="nowrap">{{ request.employee_airline.iata_code }}</td>
                    <td class="nowrap"></td>
                    <td class="nowrap">{{ request.employee_phone }}</td>
                </tr>{% endfor %}
                #}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
