<!doctype html>
<html lang="en">
    <head>{% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ config.JUMPSEAT_REQUEST_TITLE }}{% endblock title %}</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename="favicon-32x32.png") }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='flatpickr.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='pico.orange.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
        <script src="{{ url_for('static', filename='flatpickr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='site.js') }}"></script>
    {% endblock head %}</head>
    <body>{% block body %}
        <nav class="container">
            <ul>
                <li><strong>{{ config.JUMPSEAT_REQUEST_TITLE }}</strong></li>
            </ul>
            {# user-authentication aware links #}
            <ul class="top-tab-bar">{% for link in nav_links() %}
                <li>{{ render_link_with_current(**link) }}</li>
            {% endfor %}</ul>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="container">
                {% for category, message in messages %}
                    <article class="flash {{ category or 'info' }}">
                        <div class="message {{category}}">{% for line in message.splitlines() %}
                            <div>{{ line|safe }}</div>{% endfor %}
                        </div>
                    </article>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <main class="container">{% block main %}
                {% block header %}{% if false %}<div class="center">
                <a href="{{ url_for('jumpseat.list_requests') }}">Root</a>
            </div>{% endif %}{% endblock header %}
            {% block content %}{% endblock content %}
            {% block footer %}{% endblock footer %}
        {% endblock %}</main>
    {% endblock %}</body>
</html>
