{% extends "base.html" %}


{% from "macro.html" import render_jumpseat_action %}
{% from "macro.html" import render_pagination %}


{% block content %}
    <h3>Approve/deny jump seat requests</h3>
    {% if pagination.total == 0 %}
        <p>No requests found.</p>
    {% else %}
        <small>Requests in descending order of creation</small>
        {% for jumpseat_request in pagination %}
            {{ render_jumpseat_action(forms, jumpseat_request) }}
        {% endfor %}
        {{ render_pagination(pagination, endpoint=request.endpoint) }}
    {% endif %}
</div>
{% endblock %}
