{% from "macro.html" import render_css %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>{{ jumpseat_request.title_string(verb) }}</h1>
        {% if comment is defined and comment %}<h3>{{ comment }}</h3>{% endif %}
        {% if has_decider_recipient and not jumpseat_request.is_decided %}
            {# give the recipient a link to decide request if any are user.is_decider #}
            <p>
                <a href="{{ url_for('jumpseat_request.decide_jumpseat_request', request_id=jumpseat_request.id, _external=True) }}">Click to approve or deny request</a>
            </p>
        {% endif %}
        <strong>Request ID</strong>
        {% if admin_in_recipients %}
            <div>
                {% set url = url_for('admin.jumpseat_request_edit', id=jumpseat_request.id, _external=True) %}
                <a class="data" href="{{ url }}">{{ jumpseat_request.id }}</a>
            </div>
        {% else %}
            <pre>{{ jumpseat_request.id }}</pre>
        {% endif %}

        {% if jumpseat_request.request_by %}
        <strong>Request By</strong>
        <p>{{ jumpseat_request.request_by.mailto_email_address }}</p>

        <strong>Created at</strong>
        <p class="data">
            {{ jumpseat_request.created_at_formatted }}
        </p>
        {% endif %}

        <strong>Flight Number</strong>
        <p>{{ jumpseat_request.flight_number }}</p>

        <strong>Flight Date</strong>
        <p>{{ jumpseat_request.flight_datetime_formatted }}</p>

        <h3>Employee Info</h3>
        <strong>Employing Airline</strong>
        <p>{{ jumpseat_request.employee_airline[config.JUMPSEAT_REQUEST_SHOW_AIRLINE_CODE] }}</p>
        <strong>Employee Number</strong>
        <p>{{ jumpseat_request.employee_number }}</p>
        {% if jumpseat_request.employee_name %}
            <strong>Name</strong>
            <p>{{ jumpseat_request.employee_name }}</p>
        {% endif %}

        <strong>Employee Email</strong>
        <p>{{ jumpseat_request.employee_email }}</p>

        {% if jumpseat_request.employee_phone %}
            <strong>Phone</strong>
            <p>{{ jumpseat_request.employee_phone }}</p>
        {% endif %}
    </body>
</html>
