{% from "macro.html" import render_css %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h3>Jump Seat Request Escalated</h3>
        {% if comment is defined and comment %}<p>{{ comment }}</p>{% endif %}
        <strong>Request ID</strong>
        <pre>{{ jumpseat_request.id }}</pre>
        {% if jumpseat_request.request_by %}<p>Created by <a href="mailto:{{ jumpseat_request.request_by.email_address }}">{{ jumpseat_request.request_by.email_address }}</a>{% endif %}</p></h3>
        {% if guest_verfiy_email_token is defined and guest_verfiy_email_token %}
            <p>Request created by guest account.</p>
            <p><a href="{{ url_for('email_verification.verify_email', token=guest_verfiy_email_token, _external=true) }}">Click to verify your email address and register an account.</a></p>
        {% endif %}
        <dl>
            <dt>Flight</dt>
            <dd>{{ jumpseat_request.flight_number }}</dd>
            <dt>Date</dt>
            <dd>{{ jumpseat_request.flight_date_formatted }}</dd>
        </dl>
        <h3>Employee Info</h3>
        <dl>
            <dt>Employing Airline</dt>
            <dd>{{ jumpseat_request.employee_airline[config.JUMPSEAT_REQUEST_SHOW_AIRLINE_CODE] }}</dd>
            <dt>Employee Number</dt>
            <dd>{{ jumpseat_request.employee_number }}</dd>
            {% if jumpseat_request.employee_name %}
            <dt>Name</dt>
            <dd>{{ jumpseat_request.employee_name }}</dd>
            {% endif %}
            <dt>Email</dt>
            <dd>{{ jumpseat_request.employee_email }}</dd>
            {% if jumpseat_request.employee_phone %}
            <dt>Phone</dt>
            <dd>{{ jumpseat_request.employee_phone }}</dd>
            {% endif %}
        </dl>
        {% if has_decider_recipient %}
            {# give the recipient a link to decide request if any are user.is_decider #}
            <p>
                <a href="{{ url_for('jumpseat_request.decide_jumpseat_request', request_id=jumpseat_request.id, _external=True) }}">Click to approve or deny request</a>
            </p>
        {% endif %}
    </body>
</html>
