{# Select a scheduled flight from a calendar view page #}
{% extends "base.html" %}




{% block content %}
    <h3>Select Scheduled Flight from Calendar</h3>
    {#<pre>{{ has_dates }}</pre>#}
    <div class="month-year grid">{% for month in months %}
        <div>
            {#<pre>{{ month }}</pre>}#}
            <h3>{{ month.name }}</h3>
            <div class="month-days grid">
                {% if month.weekdays %}{% for weekday in month.weekdays %}
                    <div class="cell weekday">{{ weekday }}</div>
                {% endfor %}{% endif %}
                {% for date in month.dates %}
                <div>{% if date.date.month == month.number %}
                    {% set url = url_for('jumpseat_request.selected_date_calendar', date=date.date) %}
                    {% set is_current_page = date.date == request.view_args.date %}
                    {% set flights_count = has_dates[date.date] %}
                    <div>
                        <a class="cell" href="{{ url }}"{% if is_current_page  %} aria-current="page"{% endif %}>{{ date.day }}</a>
                    </div>
                    <div>{{ flights_count }}</div>
                {% endif %}</div>
            {% endfor %}</div>
        </div>
    {% endfor %}</div>
{% endblock %}
